body{
	background-color: #A4DCFF;
}

#normal{
	clear: both;
}

#tux{
	width: 960px;
	height: 650px;
}

.gift_is_mine{
	margin: 40px 0px 0px 20px;
}

#left{
	width: 700px;
	height: 650px;
	float: left;
	overflow: hidden;
}

#right{
	width: 260px;
	height: 650px;
	float: right;
	background-image: url("./imgs/handup.png");
}

#head{
	width: 700px;
	height: 500px;
	background-image: url("./imgs/head.png");
}

#body{
	width: 700px;
	height: 150px;
}

#number{
	width: 450px;
	height: 150px;
	margin-left: 275px;
	overflow: hidden;
}

#number_frame{
	width: 450px;
	padding-top: 15px;
	z-index: 1;
}

.number{
	margin-right: 20px;
	width: 125px;
	height: 125px;
}

.first{
}

.second{
}

.third{
}

#cover{
	position: relative;
	width: 700px;
	height: 150px;
	margin-top: -150px;
	background-image: url("./imgs/cover.png");
	z-index: 100;
}

#candy{
	width: 566px;
	height: 502px;
	position: absolute;
	left: 200px;
	top: 10px;
	z-index: 150;
	background-image: url("./imgs/candy.png");
	display: none;
}

#mouth{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 245px;
	left: 445px;
	z-index: 200;
}


#innum{
	position: absolute;
	top: 205px;
	left: 150px;
	width: 200px;
	height: 100px;
	font-size: 80px;
	text-align: center;
}
